[Unit]
Description=VMotion Notifier Service
Documentation=https://github.com/vmware-workloads/vmotion-application-notification/
After=vmtoolsd.service

[Service]
EnvironmentFile=/etc/default/vmnotification
ExecStart=/opt/vmnotification/vmnotification.py $EXTRA_OPTS
Restart=always

[Install]
WantedBy=multi-user.target
